# Python cache
__pycache__/
*.pyc
*.pyo

# Virtual environments
venv/
.venv/
env/

# Environment variables / secrets
.env
.env.*

# Git installation/copy inside project
Git/

# Streamlit
.streamlit/secrets.toml

# Jupyter
.ipynb_checkpoints/

# IDE
.vscode/

# OS files
.DS_Store
Thumbs.db